@charset "utf-8";
/*reset*/
html {
  font-size:100%; /*text-rendering:optimizeLegibility;*/ /*avoids Chrome bug*/
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
img,
form,
label,
iframe,
fieldset {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: inherit;
  font-weight: inherit;
  border: none;
}
input,
select,
textarea,
button {
  font-size: 1em;
  line-height: inherit;
  font-family: inherit;
  margin: 0;
}
optgroup {
  font-family: inherit;
}
input[type=button],
input[type=submit],
button {
  overflow: visible;
}
input[disabled],
select[disabled],
textarea[disabled],
button[disabled] {
  opacity: 0.75;
  height: 26px;
}

/*skip links*/
#skip {
  position: absolute;
  z-index: 1000;
  left: 37.5em;
  width: 8.5em;
  text-align: center;
  background: #fff;
}
#skip a {
  display: block;
  margin: 8px;
}


.chevron-submit {
  width: 18px;
  height: 18px;
  overflow: hidden;
  text-indent: -999em;
  line-height: 0;
  border: none;
  background: url('../images/search-arrows.png') no-repeat -18px 0;
  color: #fff;
  cursor: pointer;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 2dppx) {
  .chevron-submit {
    background: url('../images/search-arrows-2x.png') no-repeat -18px 0;
    background-size: 54px 18px;
  }
}
#uw-search-submit:focus {
  background-position: 0 0;
}

li.logout {
  display: none;
}

/* Definition lists */
dl > dt {
  font-weight: bold;
  margin-left: 1em;
  margin-top: 1em;
}
dl > dd {
  margin-left: 3em;
  margin-bottom: 1em;
}

/* Float clearing in body content and Webform */
div.field-type-text-with-summary,
div.form-item.webform-component {
  clear: both;
}

/* Indents */
.rteindent1 {
  margin-left: 2em;
}
.rteindent2 {
  margin-left: 4em;
}
.rteindent3 {
  margin-left: 6em;
}
.rteindent4 {
  margin-left: 8em;
}

/*image alignment*/
img.image-left {
  float: left;
  margin: 0 1em 1em 0;
}
img.image-right {
  float: right;
  margin: 0 0 1em 1em;
}
img.image-center {
  display: block;
  margin: auto;
}

/*list types*/
ul.circle {
  list-style-type: circle;
}
ul.disc {
  list-style-type: disc;
}
ul.square {
  list-style-type: square;
}
ol.lower-roman {
  list-style-type: lower-roman;
}
ol.upper-roman {
  list-style-type: upper-roman;
}
ol.lower-alpha {
  list-style-type: lower-alpha;
}
ol.upper-alpha {
  list-style-type: upper-alpha;
}
ol.decimal {
  list-style-type: decimal;
}

/*search results*/
.page-search .search-form {
  margin-bottom: 2em;
}
.search-results {
  margin: 0;
}
.search-results li {
  list-style: none;
}
.search-result {
  border-bottom: 1px solid #ccc;
  padding: 1em 0;
}
.search-results h3 {
  margin: 0;
}
.results_url {
  margin-bottom: .5em;
}
.results_url a:link,
.results_url a:visited {
  color: #555;
  text-decoration: none;
}
.search-results .search-snippet-info {
  padding: 0;
}
.page-search .pager {
  padding: 1em 0;
}
.page-search .pager a {
  display: inline-block;
  font-weight: bold;
}
.page-search .pager a:link {
  text-decoration: none;
  color: #03f;
}
.page-search .pager a:visited {
  text-decoration: none;
  color: #306;
}
.page-search .pager-current {
  background-color: #923;
  color: #fff;
}

/* IE6 message */
#ie6message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em;
  background-color: #c00;
  color: white;
  font-size: 120%;
  font-weight: bold;
  text-align: center;
}
#ie6message a:link,
#ie6message a:visited {
  color: #00f;
}

/* Previous/next button styling */
.view .date-nav-wrapper .date-prev {
  left: 27em;
}
div#calendar_block {
  width: 200px;
}

/* Custom CSS Style */
.checkmark-replace {
  background: url("../images/checkmark.png") no-repeat scroll left top transparent;
  min-height: 25px;
  min-width: 25px;
  text-indent: -999em;
}

/* Fixes: https://www.drupal.org/node/2156335 */
table.sticky-header {
  background: transparent;
  display: block;
  margin-top: 0;
}

/* Stop text resizing in mobile WebKit browsers (e.g. Safari), which can break things like "ol" display */
body {
  -webkit-text-size-adjust: none;
}
/*global search*/
#uw-search {
  position: absolute;
  top: 20px;
  right: 10px;
}
#uw-search label {
  display: inline;
  font-size: .9em;
}
#uw-search-label.js {
  position: absolute;
  color: #000;
  background-color: #fff;
  padding: 2px 6px;
}
#uw-search-term {
  border: solid 1px #fff;
  padding: 2px;
}
#uw-search-site-wrap {
  line-height: 1.7em;
  padding-right: 0.5em;
}
#uw-search-site-wrap select {
  vertical-align: top;
  text-transform: uppercase;
  padding: 1px;
}

/* header */
#uw-header {
  background: #000;
  padding: 20px 10px;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .1em;
}
#uw-logo {
  display: block;
  width: 207px;
  height: 60px;
  text-indent: -999em;
  overflow: hidden;
  background: url('../images/university-of-waterloo-logo.png') no-repeat left top;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 2dppx) {
  #uw-logo {
    background: url('../images/university-of-waterloo-logo-2x.png') no-repeat left top;
    background-size: 207px 51px;
  }
}
#uw-header a {
  color: #fff;
  text-decoration: none;
}
#uw-header a:hover {
  text-decoration: underline;
}
#uw-header .global-menu {
  list-style: none;
  position: absolute;
  bottom: 5px;
  right: 0;
  margin: 0;
  padding: 0;
}
#uw-header .global-menu li {
  float: left;
  padding: 2px 10px;
  border-left: solid 1px #fff;
  margin: 0;
}
#uw-header .global-menu li:first-child {
  border-left: none;
}
