ol.decimal {
  padding: 0 0 1em 2em;
}
ol.decimal li > ol {
  margin: 0;
  padding: 0 0 0.5em 2em;
}
ol.decimal li > ol li {
  display: list-item;
  list-style-type: lower-alpha;
}
ol.decimal li > ol li > ol li {
  display: list-item;
  list-style-type: lower-roman;
}
ol.decimal li > ol li > ol li > ol li {
  display: list-item;
  list-style-type: upper-alpha;
}
ol.decimal li > ol li > ol li > ol li > ol li {
  display: list-item;
  list-style-type: upper-roman;
}
